name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate AniList metrics
        uses: lowlighter/metrics@latest
        with:
          filename: anilist.svg
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites, watching, characters
          plugin_anilist_limit: 1
          plugin_anilist_limit_characters: 14
          plugin_anilist_user: 0m3ga6400

      - name: Generate Steam metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.steam.full.svg
          token: NOT_NEEDED
          base: ""
          plugin_steam: yes
          plugin_steam_user: "76561199283561300"
          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}

      - name: Generate GitHub Sponsorships metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.sponsorships.svg
          token: ${{ secrets.METRICS_TOKEN_PERSONAL }}
          base: ""
          plugin_sponsorships: yes
          plugin_sponsors_past: true
