name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate AniList metrics
        uses: lowlighter/metrics@latest
        with:
          filename: anilist.svg
          token: NOT_NEEDED
          base: ""
          plugin_anilist: yes
          plugin_anilist_medias: anime
          plugin_anilist_sections: favorites, watching, characters
          plugin_anilist_limit: 5
          plugin_anilist_limit_characters: 50
          plugin_anilist_user: 0m3ga6400
          plugin_anilist_shuffle: false

      - name: Generate Steam metrics
        uses: lowlighter/metrics@latest
        with:
          filename: steam.svg
          token: NOT_NEEDED
          base: ""
          plugin_steam: yes
          plugin_steam_user: "76561199283561300"
          plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
