name: Prettier
on: push
permissions:
  contents: write
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: creyD/prettier_action@v4.6
        with:
          prettier_version: "12.0.0"
          prettier_options: --write .
