name: Update Stats.fm Top Albums

on:
  schedule:
    - cron: "0 0,12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - uses: teraha-dev/statsfm-to-markdown@v1.0.1
        with:
          statsfm_username: 'om3ga6400'
          display_limit: '14'
          time_range: 'weeks'
          show_duration: 'true'
          readme_path: 'README.md'
          items_per_row: '7'

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git diff README.md --quiet || (git add README.md && git commit -m "chore: update stats.fm top albums" && git push)
